[Unit]
Description=ssbox-web on port %i
# Dependency ordering and binding
After=docker.service
After=etcd.service
After=ssbox-server@*.service
Requires=docker.service
Requires=etcd.service


[Service]
EnvironmentFile=/etc/environment
User=core
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill ssbox-web.%i
ExecStartPre=-/usr/bin/docker rm ssbox-web.%i
ExecStartPre=-/usr/bin/docker pull ssbox-web"
ExecStart=/bin/sh -c 'docker run --name ssbox-web.%i -e BOX_DOMAIN=${COREOS_PUBLIC_IPV4} -e BOX_NAME=SSBox  -p ${COREOS_PRIVATE_IPV4}:%i:3000 ssbox-web'
ExecStartPost=/bin/sh -c 'echo Waiting for ssbox web on %i/tcp...'
ExecStartPost=/usr/bin/etcdctl set /service/ssbox-web/web01 ${COREOS_PRIVATE_IPV4}:%i
ExecStop=/usr/bin/docker stop ssbox-web.%i
ExecStopPost=-/usr/bin/docker rm -f ssbox-web.%i
ExecStopPost=/usr/bin/etcdctl rm /service/ssbox-web/web01
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

[X-Fleet]
#Conflicts=ssbox-postgresql@*.service
#Conflicts=ssbox-nginx.service
Conflicts=ssbox-web@*.service
MachineMetadata="web=true"
